@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald',
        sans-serif !important;
}

body {
    background-color: var(--white-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

:root {
    --white-light: #F8F8F8;
    --white-dark: #C8C8C8;
    --gray: #989898;
    --black-light: #686868;
    --black-dark: #383838;
}

/* Breakpoint */
@media (min-width: 576px) {
    .home h1 {
        font-size: 45px;
    }

    .home h4,
    .home h2 {
        font-size: 30px;
    }

    .about h1 {
        font-size: 45px;
    }

    .about h4,
    .skill h4 {
        font-size: 25px;
    }

    .about p {
        font-size: 20px;
    }

    .portfolio p {
        font-size: 25px;
    }

    .skill h1 {
        font-size: 40px;
    }

    .skills span {
        font-size: 18px !important;
    }

    .modal-content {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .home h1 {
        font-size: 45px;
    }

    .home h4,
    .home h2 {
        font-size: 30px;
    }

    .about h1 {
        font-size: 45px;
    }

    .about h4,
    .skill h4 {
        font-size: 28px;
    }

    .about p,
    .portfolio p {
        font-size: 25px;
    }

    .skill h1 {
        font-size: 40px;
    }

    .skills span {
        font-size: 20px !important;
    }

    .modal-content {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    .home h1 {
        font-size: 50px;
    }

    .home h4 {
        font-size: 30px;
    }

    .home h2 {
        font-size: 40px;
    }

    .about h1 {
        font-size: 50px;
    }

    .about h4,
    .skill h4 {
        font-size: 28px;
    }

    .about p,
    .portfolio p {
        font-size: 20px;
    }

    .about .man {
        height: 100%;
    }

    .skill h1 {
        font-size: 45px;
    }

    .skills span {
        font-size: 20px !important;
    }
}

@media (min-width: 1200px) {
    .home h1 {
        font-size: 55px;
    }

    .home h4 {
        font-size: 30px;
    }

    .home h2 {
        font-size: 40px;
    }

    .about h1 {
        font-size: 50px;
    }

    .about h4,
    .skill h4 {
        font-size: 28px;
    }

    .about p,
    .portfolio p {
        font-size: 20px;
    }

    .about .man {
        height: 80%;
    }

    .skill h1 {
        font-size: 45px;
    }

    .skills span {
        font-size: 20px !important;
    }
}

/* Atomic CSS */
.bg-white-light {
    background-color: var(--white-light) !important;
}

.bg-black-dark {
    background-color: var(--black-dark) !important;
}

.text-white-light {
    color: var(--white-light) !important;
}

.text-white-dark {
    color: var(--white-dark) !important;
}

.text-gray {
    color: var(--gray);
}

.text-black-light {
    color: var(--black-light) !important;
}

.text-black-dark {
    color: var(--black-dark) !important;
}

.active {
    color: var(--black-dark) !important;
    background-color: var(--white-light) !important;
    border: 0;
}

.home {
    padding-top: 70px;
    height: 100vh !important;
    overflow: hidden;
}

/* Navigasi */
nav {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: var(--black-dark) !important;
}

nav .nav-link {
    padding: 20px 20px !important;
    width: 130px;
    margin: 0 15px;
    text-align: center;
    font-weight: 600;
    letter-spacing: .1rem;
}

nav button {
    margin: 20px 20px !important;
}

nav .nav-item:hover {
    color: var(--white-dark) !important;
    background-color: var(--black-light) !important;
    border: 0;
}

.animated-icon2 {
    width: 30px;
    height: 15px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: #e3f2fd;
}

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Home */
.home {
    padding-top: 220px;
}

.home h1 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

.home h2 {
    font-weight: 600;
    letter-spacing: 2px;
}

.home h4 {
    letter-spacing: 2px;
    font-weight: 600;
}

.home .cv {
    padding: 15px 25px;
    box-shadow: none !important;
    border: 1px solid var(--white-light);
    font-size: 17px;
    letter-spacing: 1.5px;
    transition: all .5s;
}

.home .cv:hover {
    color: var(--black-dark) !important;
    background-color: var(--white-light);
}

/* About */
.about {
    overflow: visible !important;
    padding-top: 20px !important;
}
.about .container, .about .row {
    width: 100%;
    height: 100%;
}

.about .gambar {
    margin-top: 25px;
}

.about .text {
    margin-top: 10vh;
}

.about h4 {
    font-weight: 500;
    letter-spacing: 2px;
}

.about h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

.about p {
    letter-spacing: 1px;
    text-align: justify;
}

.about .man {
    width: 100%;
}

.skills span {
    letter-spacing: 1px;
    width: 85px;
    border-radius: 5px;
}

span.html {
    background-color: #e34f26;
    color: #fff;
}

span.css {
    background-color: #2965f1;
    color: #fff;
}

span.javascript {
    width: 105px !important;
    background-color: #f0db4f;
    color: #323330;
}

span.java {
    background-color: #5382a1;
    color: #fff;
}

span.bootstrap {
    width: 105px !important;
    background-color: #602C50;
    color: #fff;
}

span.git {
    background-color: #f34f29;
    color: #fff;
}

span.php {
    background-color: #8993be;
    color: #232531;
}

/* Portfolio */
.portfolio {
    padding-top: 40px;
}

.portfolio .title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    letter-spacing: 2px;
}

.portfolio .row {
    margin-bottom: 100px;
}

.portfolio .head {
    letter-spacing: 2px;

}

.portfolio .head span {
    font-size: 14px;
    background-color: var(--black-light);
    color: var(--white-light);
    padding: 5px 20px;
    border-radius: 10px;
    letter-spacing: .1rem;
}

.portfolio p {
    letter-spacing: 1px;
    text-align: justify;
}

.portfolio .btn {
    font-size: 16px;
    padding: 10px 40px;
}

.portfolio .visit:hover {
    background-color: var(--gray) !important;
    color: var(--white-light) !important;
}

.portfolio .open {
    background-color: var(--white-light) !important;
    border: 1px solid var(--gray) !important;
}

.portfolio .open:hover {
    background-color: var(--gray) !important;
    /* border: none !important; */
    color: var(--white-light) !important;
}

/* Sertifikat */
.sertifikat {
    padding: 40px 0 100px 0;
}

.sertifikat .myImg {
    cursor: zoom-in !important;
}

.sertifikat .title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    letter-spacing: 2px;
}

/* Footer */
footer .container-fluid {
    padding: 0px !important;
    font-size: 18px;
}

footer :where(span, h6, p) {
    letter-spacing: .5px;
}

footer svg:not(.wave) {
    width: 16px;
    height: 18px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: var(--white-dark);
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
    letter-spacing: .5px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 55px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}